@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.box-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  flex-wrap: wrap; 
}

.content {
  flex: 1; 
}

.box {
  width: 50%;
  min-width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-right: 5%; 
}

.titulo {
  text-align: end;
}

.titulo2 {
  text-align:end;
}

.button-container {
  text-align: center; 
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px; 
}

.saiba-mais-button {
  background-color: #ffd900;
  color: #000000; 
  border: none;
  padding: 10px 20px; 
  font-size: 150%;
  font-weight: 700; 
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;  
  text-decoration: none;
  transition: background-color 0.3s ease;
 
}

.saiba-mais-button:hover {
  background-color: #000000;
  color: #ffffff; 
  font-size: 165%;
  transition: font-size 0.3s ease;
}

.saiba-mais-button:not(:hover){
  transition: font-size 0.2s ease;
  font-size: 150%;
}


@media (max-width: 768px) {
  .box-container {
    flex-direction: column; 
    align-items: center;
  }

  .box {
    width: 100%;
    margin-right: 0; 
  }

  .titulo {
    text-align: center;
    padding: 1%;
  }
  
  .titulo2 {
    text-align: justify;
    font-size: 150%;
    
    padding-right: 15%;
    
  }
}