@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.paragrafo-container {
    display: flex;
    flex-direction: row; /* Alinhar imagem e texto na horizontal */
    align-items: center; /* Alinhar verticalmente */
    justify-content: space-between; /* Colocar espaço entre a imagem e o texto */
    padding: 2%;
}

img.imgP1 {
    width: 40%; /* Largura da imagem */
    max-width: 50%; /* Largura máxima da imagem (ajuste conforme necessário) */
    border-radius: 15px;
}

.h1Proj, .h2Proj {
    padding-left: 4%;
    
}

.h2Proj{
    font-size:25px;
}


.paragrafo {
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-align: justify;
    font-size: 20px;
}

.paragrafo2 {
    padding-left: 4%;
    font-size: 20px;
    padding-bottom: 1%;
    padding-right: 2%;
}

.lista {
    padding-left: 4%;
    text-align: justify;
    font-size: 18px;
    padding-bottom:2%;
    padding-right: 2%;

}

*  {margin: 0}

.gallery{
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    zoom: 20%;
    height: 100%;
}

.imgGaleria{
    aspect-ratio: 9/16;
    min-width: 0;
  
    flex: 1 1 10px;
    object-fit: cover;
    opacity: .5;
    transition: .5s;
}

.imgGaleria:hover{
    flex: 1 1 100px;
    opacity: 1;
}

@media (max-width: 768px) {
    .paragrafo-container {
        flex-direction: column; /* Alinhar imagem abaixo do texto em dispositivos móveis */
        align-items: flex-start; /* Alinhar a imagem à esquerda */
        justify-content: center; /* Centralizar verticalmente */
        text-align: center; /* Centralizar o texto */
    }

    img.imgP1 {
        width: 100%; /* Largura total para preencher a largura do dispositivo */
        max-width: none; /* Remover a largura máxima */
        margin-top: 10px; /* Espaçamento superior opcional */
        border-radius: 15px;
    }
}
