@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    zoom:1;
}


header {
    background-color: #fdff8b;
    color: #000000;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    min-height: 120px;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ced1ff;
}



@media (max-width: 768px) {
    
    html {
        min-width: 100%;
    }

    header {
        justify-content: space-between;
        zoom: 60%;
        min-width: 100%;
        
    }
    
    nav{
        text-align: center;
        justify-content: center;
        margin: auto;
        font-size: 110%;
    }

    nav ul{
        background-color: #6b0c0c00;
    }

}