@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
   
    margin: 0;
    padding: 0;
    zoom:1;
}

.error {
    width:30%;
    align-items: center;
    display: flex;
}

.error-container {
    display: flex;
    justify-content: center;  
    align-items: center; 
    height: 100%;
}


header {
    background-color: #ffd900;
    color: hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    min-height: 120px;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}


@media (max-width: 768px) {
    
    html {
        min-width: 100%;
    }

    header {
        justify-content: space-between;
        zoom: 60%;
        min-width: 100%;
        
    }
    
    nav{
        text-align: center;
        justify-content: center;
        margin: auto;
        font-size: 110%;
    }

    nav ul{
        background-color: #6b0c0c00;
    }

    .error {
        width:100%;
      
    }

    .error-container {
        width:100%;
      
    }

}